<mat-card>
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>SUIVI DES SCORES</mat-card-title>
        <mat-card-subtitle> Le {{date | date:'dd-MM-yyyy hh:mm:ss a'}}</mat-card-subtitle>
      </mat-card-header> 

      <table >
        <tr>
          <th >Nom:</th>
          <th>Service: </th>
          <th >Score: </th> 
         
        </tr>
      
        <tr >
          <td>{{user?.name}}</td>
          <td>{{user?.service}}</td>
          <td>{{user?.points}}</td>
         
        </tr>
      </table>  
</mat-card>
