<mat-toolbar color="primary">
         <mat-toolbar-row>
                        
                 <h1>ANIMATION onepoint.</h1>

        </mat-toolbar-row>
   
                                <mat-toolbar-row>
                        
                                          <h2>Objectif: Mission-secrète </h2>
       
                                </mat-toolbar-row>   
      
        
                </mat-toolbar>
        <app-menu></app-menu>


        <div class="cadre">
                <router-outlet></router-outlet>
        </div>

     

        <div class="cadre">
                <router-outlet name="userRoute"></router-outlet>
        </div>

        <div class="cadre">
                <router-outlet name="validation"></router-outlet>
        </div>
        <div class="cadre">
                <router-outlet name="creationmission"></router-outlet>
        </div>

